body{background-color:#ccc;margin:0px;padding:0px;}
h1{border-bottom:2px solid #000;margin:0px;background-color:#fff;padding:10px 25px 10px 25px;}
.btn{background-color:#666;color:#fff;font-weight:bold;}
ul li{list-style-type: none;margin:0px;padding:0px;}
label{width:100%;}

div#main{padding:25px;}
div#answerResult > span.alert{width:100% !important;}
div#score{border-top:2px solid #000;margin-top:20px;}

div.progress{border-radius:0px;border-bottom:2px solid #000;}